@using BioRec___Empleados.Models;
@model IEnumerable<ProductoPublicado>

<h1>Productos disponibles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad disponible
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.cantidadTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    <a asp-action="VentaProducto" asp-route-idProductoPublicado="@item.id">Comprar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
